<!DOCTYPE html>
<html>
<head>
    <title>Mail Validation</title>
    <!-- Include CSS, meta tags, and other head elements -->
</head>
<body>
    <header>
        <!-- Include header content: navigation, logo, etc. -->
    </header>

    <main>
        {{{body}}} <!-- This is where the content of each individual page will be inserted -->
    </main>


    <!-- Include scripts, analytics code, etc. -->
</body>
</html>
